# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual env
.venv/
venv/
env/

# Django
db3
db.sqlite3
*.sqlite3
media/
staticfiles/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
